body {
  font-family: 'DBHeavent', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.font-brand {
  font-family: 'DinPro', sans-serif;
}

.site-nav-d .menu-main-menu-container {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.site-nav-d .btn {
  color: white;
  min-height: 38px;
  font-size: 20px;
}

@media (max-width: 1480px) {
  .site-nav-d .btn {
    font-size: 18px;
  }
}

@media (max-width: 1380px) {
  .site-nav-d .btn {
    font-size: 16px;
  }
}

@media (max-width: 1295px) {
  .site-nav-d .btn {
    font-size: 14px;
  }
}

@media (max-width: 1150px) {
  .site-nav-d .btn {
    font-size: 12px;
  }
}

.site-nav-d .btn:hover {
  color: white;
}

.site-nav-d .btn-cta-get-in-touch {
  background-color: #454545;
  margin-right: 10px;
}

@media (max-width: 1295px) {
  .site-nav-d .btn-cta-get-in-touch {
    margin-right: 5px;
  }
}

.site-nav-d .btn-cta-get-in-touch:hover {
  background-color: var(--s-accent-hover);
}

.site-nav-d .btn-cta-proposal {
  margin-left: 10px;
  background-color: var(--s-accent);
}

@media (max-width: 1295px) {
  .site-nav-d .btn-cta-proposal {
    margin-left: 5px;
  }
}

.site-nav-d .btn-cta-proposal:hover {
  background-color: var(--s-accent-hover);
}

.menu .menu-item {
  transition: var(--c-transition-hover);
}

.menu .menu-item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
}

@media (min-width: 1024px) {
  .menu .menu-item:hover svg {
    transform: scaleY(-1);
  }
}

.menu .menu-item.menu-item-has-children .sub-menu {
  background-color: #161616;
}

.menu .menu-item.menu-item-has-children .sub-menu::before {
  display: none;
}

.menu .menu-item.menu-item-has-children .sub-menu .menu-item a {
  border-bottom: 0;
  color: white;
  font-size: 18px;
  padding: 8px 0;
}

.menu .menu-item.menu-item-has-children .sub-menu .menu-item a:hover {
  color: var(--s-accent-hover);
}

@media (max-width: 1480px) {
  .menu .menu-item a {
    font-size: 18px;
  }
  .menu .menu-item.menu-item-has-children .sub-menu .menu-item a {
    font-size: 16px;
  }
}

@media (max-width: 1380px) {
  .menu .menu-item a {
    font-size: 16px;
  }
  .menu .menu-item.menu-item-has-children .sub-menu .menu-item a {
    font-size: 14px;
  }
}

@media (max-width: 1295px) {
  .menu .menu-item a {
    font-size: 14px;
  }
  .menu .menu-item.menu-item-has-children .sub-menu .menu-item a {
    font-size: 13px;
  }
}

@media (max-width: 1150px) {
  .menu .menu-item a {
    padding: 0 5px;
  }
}

@media (max-width: 1048px) {
  .menu .menu-item a {
    font-size: 13px;
  }
}

.top-nav-menu .menu-item a {
  color: #67676A;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 10px;
}

.top-nav-menu .menu-item a:hover {
  color: var(--s-accent-hover);
}

.language-switcher img {
  width: 16px;
  height: 16px;
}

@media (max-width: 1024px) {
  .language-switcher img {
    width: 22px;
    height: 22px;
  }
}

.language-switcher svg {
  color: #002F87;
}

.custom-s.site-toggle {
  right: 0;
  left: unset;
}

.custom-s.site-toggle b {
  background-color: transparent;
}

.custom-s.site-toggle b:before {
  left: 0;
  right: 0;
  top: -4px;
}

.custom-s.site-toggle b:after {
  left: 0;
  right: 0;
  top: 4px;
}

@media (max-width: 1024px) {
  .custom-s.site-toggle b:before {
    top: -3px;
  }
  .custom-s.site-toggle b:after {
    top: 3px;
  }
}

.site-nav-m .menu {
  padding: 0 20px;
}

.site-nav-m .menu .menu-item {
  border-bottom: 0;
  padding: 8px 0;
}

.site-nav-m .menu .menu-item:first-child {
  padding-top: 16px;
}

.site-nav-m .menu .menu-item a {
  color: #161616;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
}

.site-nav-m .menu .menu-item a .menu-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.site-nav-m .menu .menu-item a .menu-icon svg {
  width: 20px;
  height: 20px;
  opacity: 1;
}

.site-nav-m .menu .menu-item.menu-item-has-children svg {
  opacity: 1;
  position: absolute;
  right: 0;
  top: 12px;
  color: #000;
}

.site-nav-m .menu .menu-item .sub-menu {
  background-color: transparent;
}

.site-nav-m .menu .menu-item .sub-menu li.menu-item a {
  color: #161616;
  font-size: 20px;
  padding: 0;
  padding-left: 20px;
}

.site-nav-m .menu .line-separator {
  height: 1px;
  width: calc(100% + 40px);
  background-color: #DDDDDE;
  margin: 0px calc(20px * (-1)) 20px;
}

.widget-social {
  display: flex;
  gap: 20px;
}

.widget-social .icon-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.widget-social .icon-link svg {
  color: white;
  width: 22px;
  height: 22px;
}

.block-nav-menu ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block-nav-menu ul.menu li.menu-item {
  margin-bottom: 20px;
}

.block-nav-menu ul.menu li.menu-item a {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  display: inline-block;
  text-align: left;
}

@media (max-width: 1023px) {
  .block-nav-menu ul.menu li.menu-item {
    margin-bottom: 15px;
  }
}

.menu-footer-accordion svg {
  display: none;
}

@media (max-width: 1023px) {
  .menu-footer-accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu-footer-accordion.active svg {
    transform: scaleY(-1);
  }
  .menu-footer-accordion svg {
    display: block;
  }
}

.fluentform form .ff-el-form-hide_label .ff-el-input--label {
  display: none !important;
}

.fluentform form .ff-el-group {
  margin-bottom: 20px;
}

.fluentform form .ff-el-group.ff-el-is-error {
  margin-bottom: 5px;
}

.fluentform form .ff-el-group .ff-el-input--content input, .fluentform form .ff-el-group .ff-el-input--content textarea {
  padding: 8px 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  font-size: 22px;
  font-weight: 400;
}

.fluentform form .ff-el-group .ff-el-input--content .ff-field-error {
  color: #FAE7EA;
  margin: 0;
  line-height: 1.1;
  font-size: 16px;
}

.fluentform form .ff-el-group.ff_submit_btn_wrapper {
  margin-bottom: 0;
}

.fluentform form .ff-el-group.ff_submit_btn_wrapper .ff-btn-submit {
  width: 100%;
  background-color: #710819;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.fluentform form .ff-el-group.ff_submit_btn_wrapper .ff-btn-submit:disabled {
  background-color: #CCCCCE;
  cursor: not-allowed;
}

.gs-swiper .gs-swiper-init .swiper-pagination {
  bottom: 50px;
}

.gs-swiper .gs-swiper-init .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  opacity: .7;
}

.gs-swiper .gs-swiper-init .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 13px;
  opacity: 1;
}

@media (max-width: 1023px) {
  .gs-swiper .gs-swiper-init .swiper-pagination .swiper-pagination-bullet {
    width: 8.5px;
    height: 8.5px;
  }
  .gs-swiper .gs-swiper-init .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 8.5px;
    height: 8.5px;
  }
}

@media (max-width: 1023px) {
  .gs-swiper .gs-swiper-init .swiper-pagination {
    bottom: 40px;
  }
}

.content-item.-card {
  background-color: #fff;
  border: 0;
  border-radius: 0px;
}

.content-item.-card .pic {
  width: 100%;
}

.content-item.-card .pic img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

.content-item.-card .info {
  padding: 30px 20px;
}

.content-item.-card .info .entry-meta {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content-item.-card .info .entry-meta .happening-now-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: var(--s-accent);
}

.content-item.-card .info .entry-meta .event-categories {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-item.-card .info .entry-meta .event-categories .event-category {
  padding: 0px 20px;
  background-color: #F4F4F4;
  border-radius: 20px;
  color: #3D3D3F;
  font-size: 18px;
}

.content-item.-card .info .entry-title {
  margin: 15px 0 10px;
  min-height: 70px;
}

.content-item.-card .info .entry-title a {
  color: #161616;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-item.-card .info .entry-date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: var(--s-accent);
}

.content-item.-card .info .event-hall {
  font-size: 16px;
}

.content-item.-card .info .entry-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.content-item.-card .info .entry-location .event-locations {
  gap: 10px;
  font-size: 18px;
}

.content-item.-card .info .entry-location .event-locations .event-location {
  color: white;
  padding: 0 15px;
}

@media (max-width: 1023px) {
  .content-item.-card .info .entry-title {
    min-height: 56px;
  }
  .content-item.-card .info .entry-title a {
    font-size: 24px;
  }
  .content-item.-card .info .entry-date {
    font-size: 20px;
  }
  .content-item.-card .info .entry-location .event-locations .event-location {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .content-item.-card .info .event-hall {
    font-size: 13px;
  }
  .content-item.-card .info .entry-location .event-locations {
    font-size: 15px;
  }
}

.swiper-event-carousel {
  position: relative;
}

.swiper-event-carousel .swiper {
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

.swiper-event-carousel .swiper .swiper-pagination {
  bottom: 0px;
}

.swiper-event-carousel .swiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  opacity: .7;
  width: 13px;
  height: 13px;
  background-color: #CCCCCE;
}

.swiper-event-carousel .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  opacity: 1;
  background-color: var(--s-accent);
}

@media (max-width: 1023px) {
  .swiper-event-carousel .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10.5px;
    height: 10.5px;
  }
  .swiper-event-carousel .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 10.5px;
    height: 10.5px;
  }
}

@media (max-width: 1023px) {
  .swiper-event-carousel .swiper .swiper-pagination {
    bottom: 20px;
    padding-right: 20px;
  }
}

.swiper-event-carousel .swiper-button-prev, .swiper-event-carousel .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #B5B5B8;
  border-radius: 0;
  top: -80px;
  right: 0;
  transition: var(--c-transition-hover);
}

.swiper-event-carousel .swiper-button-prev svg, .swiper-event-carousel .swiper-button-next svg {
  color: #67676A;
  width: 14px;
  height: 14px;
}

.swiper-event-carousel .swiper-button-prev:after, .swiper-event-carousel .swiper-button-next:after {
  display: none;
}

.swiper-event-carousel .swiper-button-prev:hover, .swiper-event-carousel .swiper-button-next:hover {
  background-color: var(--s-accent);
  border-color: var(--s-accent);
}

.swiper-event-carousel .swiper-button-prev:hover svg, .swiper-event-carousel .swiper-button-next:hover svg {
  color: white;
}

.swiper-event-carousel .swiper-button-prev {
  right: 50px;
  left: unset;
}

@media (max-width: 1023px) {
  .swiper-event-carousel .swiper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .swiper-event-carousel .swiper-button-prev, .swiper-event-carousel .swiper-button-next {
    right: 20px;
  }
  .swiper-event-carousel .swiper-button-prev {
    right: 70px;
  }
}
