body {
  font-family: 'DBHeavent', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
// You can also use DinPro for specific elements
.font-brand {
  font-family: 'DinPro', sans-serif;
} 

.site-nav-d { 
  .menu-main-menu-container  {
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  .btn  { 
    color: white;
    min-height: 38px;
    font-size: 20px;
    @media (max-width: 1480px) {
      font-size: 18px;
    }
    @media (max-width: 1380px) {
      font-size: 16px;
    }
    @media (max-width: 1295px) {
      font-size: 14px;
    }
    @media (max-width: 1150px) {
      font-size: 12px;
    }
    
    &:hover { 
      color: white;
    }
  }
  .btn-cta-get-in-touch { 
    background-color: #454545;
    margin-right: 10px;
    @media (max-width: 1295px) {
      margin-right: 5px;
    }
    &:hover { 
      background-color: var(--s-accent-hover);
    }
  }
  .btn-cta-proposal { 
    margin-left: 10px;
    background-color: var(--s-accent);
    @media (max-width: 1295px) {
      margin-left: 5px;
    }
    &:hover { 
      background-color: var(--s-accent-hover);
    }
  }
}
.menu { 
  .menu-item  { 
    transition: var(--c-transition-hover);
    a { 
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      padding: 0 10px;
    }
    &:hover { 
      svg { 
        @media (min-width: 1024px) {
          transform: scaleY(-1);
        }
      }
    }
    &.menu-item-has-children { 
      .sub-menu { 
        background-color: #161616;
        &::before { 
          display: none;
        }
        .menu-item {
          a { 
            border-bottom: 0;
            color: white;
            font-size: 18px;
            padding: 8px 0;
            &:hover { 
              color: var(--s-accent-hover);
            }
          }
        }
      }
    }
    @media (max-width: 1480px) {
      a { 
        font-size: 18px;
      }
      &.menu-item-has-children { 
        .sub-menu { 
          .menu-item {
            a { 
              font-size: 16px;
            }
          }
        }
      }
    } 
    @media (max-width: 1380px) {
      a { 
        font-size: 16px;
      }
      &.menu-item-has-children { 
        .sub-menu { 
          .menu-item {
            a { 
              font-size: 14px;
            }
          }
        }
      }
    }
    @media (max-width: 1295px) {
      a { 
        font-size: 14px;
      }
      &.menu-item-has-children { 
        .sub-menu { 
          .menu-item {
            a { 
              font-size: 13px;
            }
          }
        }
      }
    }
    @media (max-width: 1150px) {
      a { 
        padding: 0 5px; 
      }
    }
    @media (max-width: 1048px) {
      a {
        font-size: 13px;
      }
    }
  }
}

.top-nav-menu { 
  .menu-item { 
    a { 
      color: #67676A;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0 10px;
      &:hover { 
        color: var(--s-accent-hover);
      }
    }
  }
}

.language-switcher {
  img { 
    width: 16px;
    height: 16px;
    @media (max-width: 1024px) { 
      width: 22px;
      height: 22px;
    }
  }
  svg { 
    color: #002F87;
  }
}

.custom-s.site-toggle { 
  right: 0;
  left: unset;
  b {
    background-color: transparent;
    &:before {
      left: 0;
      right: 0;
      top: -4px;
    }
    &:after {
      left: 0;
      right: 0;
      top: 4px;
    }
    @media (max-width: 1024px) {
      &:before {
        top: -3px;
      }
      &:after {
        top: 3px;
      }
    }
  }
}

.site-nav-m {
  .menu {
    padding: 0 20px;
    .menu-item  { 
      border-bottom: 0;
      padding: 8px 0;
      &:first-child { 
        padding-top: 16px;
      }
      a {
        color: #161616;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        text-transform: uppercase;
        padding: 0;
        .menu-icon { 
          width: 20px;
          height: 20px;
          float: left;
          margin-right: 10px;
          margin-top: 5px;
          svg { 
            width: 20px;
            height: 20px;
            opacity: 1;
          }
        }
      }
      &.menu-item-has-children { 
        svg { 
          opacity: 1;
          position: absolute;
          right: 0;
          top: 12px;
          color: #000;
        }
      }
      .sub-menu { 
        background-color: transparent;
        li.menu-item { 
          a { 
            color: #161616;
            font-size: 20px;
            padding: 0;
            padding-left: 20px;
          }
        }
      }
    }
    .line-separator { 
      height: 1px;
      width: calc(100% + 40px);
      background-color: #DDDDDE;
      margin: 0px calc(20px * (-1)) 20px;
    }
  }
}


// Social media
.widget-social { 
  display: flex;
  gap: 20px;
  .icon-link { 
    display: flex;
    align-items: center;
    gap: 20px;
    svg {
      color: white;
      width: 22px;
      height: 22px;
    }
  }
}
// Menu
.block-nav-menu { 
  ul.menu { 
    list-style-type: none;
    padding: 0;
    margin: 0;
    li.menu-item { 
      margin-bottom: 20px;
      a { 
        color: #fff;
        font-weight: 400;
        font-size: 23px;
        text-transform: uppercase;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        display: inline-block;
        text-align: left;
      }
      @media (max-width: 1023px) {
        margin-bottom: 15px;
      }
    }
  }
}
.menu-footer-accordion { 
  svg { 
    display: none;
  }
}
@media (max-width: 1023px) { 
  .menu-footer-accordion { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &.active { 
      svg { 
        transform: scaleY(-1);
      }
    }
    svg { 
      display: block;
    }
  }
}

// Fluent Form  
.fluentform { 
  form { 
    .ff-el-form-hide_label { 
      .ff-el-input--label { 
        display: none !important;
      }
    }
    .ff-el-group { 
      margin-bottom: 20px;
      &.ff-el-is-error { 
        margin-bottom: 5px;
      }
      .ff-el-input--content {
        input, textarea { 
          padding: 8px 15px;
          width: 100%;
          background-color: #fff;
          border-radius: 0;
          border: 0;
          font-size: 22px;
          font-weight: 400;
        }
        .ff-field-error { 
          color: #FAE7EA;
          margin: 0;
          line-height: 1.1;
          font-size: 16px;
        }
      }
      &.ff_submit_btn_wrapper { 
        margin-bottom: 0;
        .ff-btn-submit { 
          width: 100%;
          background-color: #710819;
          color: #fff;
          font-size: 25px;
          font-weight: 400;
          padding: 8px 15px;
          border-radius: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          text-transform: uppercase;
          cursor: pointer;
          &:disabled { 
            background-color: #CCCCCE;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}


// Swiper
.gs-swiper { 
  .gs-swiper-init { 
    .swiper-pagination { 
      bottom: 50px;
      .swiper-pagination-bullet { 
        border-radius: 0;
        opacity: .7;
        &.swiper-pagination-bullet-active { 
          width: 13px;
          opacity: 1;
        }
        @media (max-width: 1023px) {
          width: 8.5px;
          height: 8.5px;
          &.swiper-pagination-bullet-active { 
            width: 8.5px;
            height: 8.5px;
          }
        }
      }
      @media (max-width: 1023px) {
        bottom: 40px;
      }
    }
  }
}

.content-item {
  &.-card { 
    background-color: #fff;
    border: 0;
    border-radius: 0px;
    .pic { 
      width: 100%;
      img {
        aspect-ratio: 1 / 1;
        width: 100%;
        object-fit: cover;
      }
    }
    .info { 
      padding: 30px 20px;
      .entry-meta { 
        display: flex;
        align-items: center;
        gap: 20px;
        .happening-now-label { 
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 18px;
          color: var(--s-accent);
        }
        .event-categories {
          display: flex;
          align-items: center;
          gap: 10px;
          .event-category { 
            padding: 0px 20px;
            background-color: #F4F4F4;
            border-radius: 20px;
            color: #3D3D3F;
            font-size: 18px;
          }
        }
      }
      .entry-title { 
        margin: 15px 0 10px;
        min-height: 70px;
        a { 
          color: #161616;
          font-size: 30px;
          font-weight: 500;
          line-height: 1.1;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .entry-date { 
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
        color: var(--s-accent);
      }
      .event-hall { 
        font-size: 16px;
      }
      .entry-location { 
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .event-locations { 
          gap: 10px;
          font-size: 18px;
          .event-location { 
            color: white;
            padding: 0 15px;
          }
        }
      }
      @media (max-width: 1023px) {
        .entry-title { 
          min-height: 56px;
          a { 
            font-size: 24px;
          }
        }
        .entry-date { 
          font-size: 20px;
        }
        .entry-location { 
          .event-locations { 
            .event-location { 
              padding: 0 10px;
            }
          }
        }
      }
      @media (max-width: 400px) {
        .event-hall { 
          font-size: 13px;
        }
        .entry-location { 
          .event-locations { 
            font-size: 15px;
          }
        }
      }
    }
  }
}


// Swiper Event Carousel
.swiper-event-carousel {  
  position: relative;
  .swiper { 
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    .swiper-pagination { 
      bottom: 0px;
      .swiper-pagination-bullet { 
        border-radius: 0;
        opacity: .7;
        width: 13px;
        height: 13px;
        background-color: #CCCCCE;
        &.swiper-pagination-bullet-active { 
          width: 13px;
          height: 13px;
          opacity: 1;
          background-color: var(--s-accent);
        }
        @media (max-width: 1023px) {
          width: 10.5px;
          height: 10.5px;
          &.swiper-pagination-bullet-active { 
            width: 10.5px;
            height: 10.5px;
          }
        }
      }
      @media (max-width: 1023px) {
        bottom: 20px;
        padding-right: 20px;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next { 
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #B5B5B8;
    border-radius: 0;
    top: -80px;
    right: 0;
    transition: var(--c-transition-hover);
    svg { 
      color: #67676A;
    }
    &:after { 
      display: none;
    }
    &:hover { 
      background-color: var(--s-accent);
      border-color: var(--s-accent);
      svg { 
        color: white;
      }
    }
  }
  .swiper-button-prev { 
    right: 50px;
    left: unset;
  }
  @media (max-width: 1023px) {
    .swiper { 
      padding-left: 20px;
      padding-right: 20px;
    }
    .swiper-button-prev, .swiper-button-next { 
      right: 20px;
    }
    .swiper-button-prev { 
      right: 70px;
    }
  }
}
